Repository singlarobin/weather-app, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, documentation, package, config

maifest file added
  public/manifest.json
Labels: source

icons added
  src/assets/searchIcon.js
Labels: source

loader added
  src/component/Loader/index.js
  src/component/Loader/styles.module.css
Labels: source

search file updated
  src/component/search/index.js
  src/component/search/search.js
  src/component/search/style.js
  src/component/search/styles.module.css
Labels: source

styles updated
  public/index.html
  src/App.js
  src/app.css
  src/index.css
  src/index.js
  src/style.js
Labels: source

icon button added
  src/component/IconButton/index.js
  src/component/IconButton/styles.module.css
Labels: source

helper function added
  src/utils/index.js
Labels: source

materil-ui dependencies removed
  package-lock.json
  package.json
Labels: package

icons added and styles updated
  src/assets/cloudIcon.js
  src/assets/errorIcon.js
  src/assets/rainIcon.js
  src/assets/skyIcon.js
  src/assets/snowIcon.js
  src/assets/stormIcon.js
  src/component/Error/index.js
  src/component/Error/styles.module.css
  src/component/Home/index.js
  src/component/Home/styles.module.css
  src/component/Input/index.js
  src/component/Input/styles.module.css
  src/component/Page/index.js
  src/component/Page/styles.module.css
  src/component/Weather/index.js
  src/component/Weather/styles.module.css
  src/component/card/index.js
  src/component/card/styles.module.css
  src/component/error/error.js
  src/component/home/Home.js
  src/component/weather/weather.js
  src/component/weather/weatherStyle.js
Labels: source

removed unused code
  src/App.js
  src/app.css
  src/component/Error/index.js
  src/component/Home/index.js
  src/component/Loader/index.js
  src/component/Loader/styles.module.css
  src/component/Page/index.js
  src/component/Weather/index.js
  src/component/search/index.js
  src/index.css
  src/index.js
Labels: source

github pages added
  package-lock.json
  package.json
  src/component/Weather/index.js
Labels: source, package

Updates
  asset-manifest.json
  index.html
  manifest.json
  static/css/main.f7b6f462.chunk.css
  static/css/main.f7b6f462.chunk.css.map
  static/js/2.a0d1905c.chunk.js
  static/js/2.a0d1905c.chunk.js.LICENSE.txt
  static/js/2.a0d1905c.chunk.js.map
  static/js/main.cea696aa.chunk.js
  static/js/main.cea696aa.chunk.js.map
  static/js/runtime-main.23af3754.js
  static/js/runtime-main.23af3754.js.map
Labels: none

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - src/*
    - src/**/*
    - public/*
    - public/**/*

documentation:
    - '*.md'

package:
    - package.json
    - package-lock.json

config:
    - .eslintrc.js
    - .eslintignore
    - .vscode/*
